@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #231b14;
  --color-secondary: #594d3c;
  --color-accent: #1f3b11;
  --color-background: #fff7d3;
  --font-accent: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  background-color: #5e4f43;
  color: #fff;
}
